<% if @article.errors.any? %>
<<<<<<< HEAD

<h2>The following errors exist:</h2>

=======
<h2>The following errors exist:</h2>
>>>>>>> feb0a2b08656c4277237922683a0f41760348004
<ul>
    <% @article.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
</ul>
<% end %>
<<<<<<< HEAD
<div class='row'>
    <div class='col-xs-12'>
        <%= form_for(@article , :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <div class='form-group'>
            <div class='control-label col-sm-2'>
                <%= f.label :title %>
            </div>
            
            <div class='col-sm-8'>
            <%= f.text_field :title, class: "form-control", placeholder: "title of article",  autofocus: true %>
            </div>
        </div>
        <div class='form-group'>
            <div class='control-label col-sm-2'>
                <%= f.label :description %>
            </div>
            <div class='col-sm-8'>
                <%= f.text_area :description, rows: 10,class: "form-control", placeholder: "Body of article",  autofocus: true %>
            </div>
        </div>
        <div class='form-group'>
            <div class="col-sm-offset-2 col-sm-10">
                <%= f.submit class: "btn btn-primary btn-lg" %>
            </div>
        </div>
        
        <% end %>
        <div class="col-xs-4 col-xs-offset-4">
            [ <%= link_to "Cancel request and return all listings", articles_path %> ]
        </div>
    </div>
</div>
=======

<%= form_for @article do |f| %>
<p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
</p>
<p>
    <%= f.label :description %><br />
     <%= f.text_area :description %>
</p>
<p>
    <%= f.submit %>
</p>

<% end %>

<%= link_to "Back to all listings", articles_path %>
>>>>>>> feb0a2b08656c4277237922683a0f41760348004
